@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("img/bg1.jpg");

  min-height: 92vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header h4 {
  color: rgba(240, 237, 248, 0.5);
  text-shadow: 2px 5px 2px rgba(2, 2, 2, 0.5);
  font-weight: 700;
  font-size: 2.4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.app-main {
  min-height: 10vh;
  width: 30vw;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  border-radius: 20px;
  background: rgba(196, 215, 229, 0.2);

  border: 2px solid rgba(2, 2, 2, 0.2);



}

.app-main>* {
  margin-bottom: 20px;

}

.input-box {
  width: 80%;
  background: rgba(2, 2, 2, 0.3);
  color: rgba(250, 250, 250, 0.8);
  font-weight: 500;
  border: none;
  font-size: 1.7rem;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
}

.weather-body {
  color: #fff;
  padding: 20px;
  line-height: 2rem;
  border-radius: 10px;
  background-color: rgba(60, 64, 67, 0.15);
  display: none;
  background: linear-gradient(to top,
      #da1e4e,
      #e4603a);
}

.location-deatils {
  font-weight: bold;
}

.weather-status {
  padding: 20px;
}

.temp {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px 0px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.weather {
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 10px;
}

.min-max {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}

.day_details {
  padding: 20px;
}

.sun-detail,
.basic {
  font-size: 1rem;
}

#weather-icon {
  color: black;
}


@media screen and (max-width: 800px) {
  .app-main {
    width: 95%;
    padding: 10px;
  }

  body {
    min-height: 94vh;
  }
}